.container {
  width: 98%;
}

.title {
  margin-bottom: 45px;
}

.slim {
  margin-bottom: 10px;
}

#cpu-icon,
#memory-icon,
#gpu-icon,
#hdd-icon,
#info-icon,
#settings-icon {
  height: 50%;
  width: 50%;
  align-self: flex-start;
}

#cpu,
#gpu,
#memory,
#hdd,
#pc-info {
  margin-top: 25px;
}

.tabs .tab a {
  color: rgba(38, 166, 154, 0.7);
  /*Custom Text Color*/
  text-align: left !important;
}

.tabs .tab a:hover {
  color: #26a69a;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color: #26a69a;
  /*Custom Text Color While Active*/
  background-color: rgba(38, 166, 154, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .tab a.active {
  color: #26a69a;
  /*Custom Text Color While Active*/
  background-color: rgba(38, 166, 154, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color: #fff;
  /*Custom Color Of Indicator*/
}

#submit-settings-btn {
  margin-right: 8px;
}

.tabs-vertical .tabs {
  height: auto;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
}
.tabs-vertical .tab {
  width: 100%;
}
.tabs-vertical .tab .active {
  -moz-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  border-right: 3px solid #424242;
}
.tabs-vertical .tab :hover {
  border-right: 3px solid #eeeeee;
}
.tabs-vertical .indicator {
  display: none;
}
.tabs-vertical .tab-content {
  display: block;

  /*  make tab content scrollable , by define height, then overflow: auto*/
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.tabs-vertical > .tab-content .active {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
